#countLabel{
    display: block;
    font-size: 10rem;
    text-align: center;
    font-family: Helvetica;

}

#btnContainer{
    display: flex;
    justify-content: center;
}

.buttons{
    margin: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-family: Helvetica;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#decreaseBtn{
    background-color: red;
    color: white;
}

#resetBtn{
    background-color: yellow;
}

#increaseBtn{
    background-color: green;
    color: white;
}

#decreaseBtn:hover, #resetBtn:hover, #increaseBtn:hover {
    background-color: rgb(95, 93, 93); /* Change background color on hover */
    transform: scale(1.1); /* Slightly enlarge the button */
}
